body {
    background-color: rgba(152, 235, 152, 0.527);
}

/* Layout */
footer a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    background-color: rgb(27, 214, 205);
    padding: 5px;
    border-radius: 12px;
}

footer a:hover {
    background-color: rgb(53, 104, 101);
}

#dev {
    text-align: center;
    font-weight: 800;
}

/*  */

/* Typography */
.list {
    font-size: 1.05em;
    font-weight: bold;
}

.list li {
    margin-bottom: 30px;
}
/*  */