:root {
  --background: #d6eaff;
}
body {
  background-color: var(--background);
  font-family: 'Roboto', sans-serif;
}

/* Typography */
/* #84c1ff • #add6ff • #d6eaff • #eaf4ff • #f8fbff */
.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.name {
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    font-weight: 800;
}

/*  */

/* Layouts*/
.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.container img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.hanafi {
    text-align: center;
    background-color: rgba(236, 236, 95, 0.979);
    margin-bottom: 20px;
}

.maliki {
    text-align: center;
    background-color: rgb(219, 103, 103);
    margin-bottom: 20px;
}

.shafii {
    text-align: center;
    background-color: rgba(173, 41, 173, 0.781);
    margin-bottom: 20px;
}

.hanbali {
    text-align: center;
    background-color: rgba(62, 161, 62, 0.836);
}
/*  */
